:root {
  --bgcolor: #b0bec5;
}

body {
  background-color: var(--bgcolor);
}

.header-container {
  padding: 20px;
}

.banner {
  padding: 40px;
  text-align: center;
}

header {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.news-list a {
  font-size: 24px;
  text-decoration: underline;
}
.news-list li {
  padding-left: 20px;
  margin-top: 10px;
}

#submit-btn {
  margin-top: 15px;
}
