:root {
  --bgcolor: #b0bec5;
}

body {
  background-color: var(--bgcolor);
}

h1 {
  font-size: 3.5rem;
}

.header-container {
  padding: 15px;
}

.banner {
  padding: 30px;
  text-align: center;
}

header {
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.news-list a {
  font-size: 24px;
  text-decoration: underline;
}

.news-list li {
  padding-left: 20px;
  margin-top: 10px;
}

#submit-btn {
  margin-top: 15px;
}

#copyright {
  color: white;
}

@media screen and (max-width: 500px) {
  .header-container {
    padding: 10px;
  }

  .banner {
    padding: 20px;
    text-align: center;
  }

  header {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }
}
