:root {
    --bgcolor: #666;
}

header {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.news-list a {
    font-size: 24px; 
    text-decoration: underline;
}
.news-list li {
    padding-left: 20px; 
    margin-top: 10px;    
}

/* #card {
    max-width: fit-content;
} */
/* #nav-card {
    padding-bottom: 100%;
} */